{% extends 'staff_base.html' %}
{% load i18n %}
{% load url from future %}



{% block staff_content %}
    <div class="span12">
        <table class="table table-bordered staff-table">
            <thead>
                <tr>
                    <td>Data</td>
                    <td>Client</td>
                    <td>Comanda</td>
                    <td>Factura</td>
                    <td>Import</td>
                    <td>Pagat</td>
                    <td>Enviat</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for i in order_list %}
                    <tr class="{% if not i.payed %}staff-yellow{% endif %}">
                        <td>{{i.creation_date}}</td>
                        <td>{{i.user.name}}</td>
                        <td><a href="{% url 'staff_order_detail_pdf' i.id %}">{{i}}</a></td>
                        <td>{% if i.invoice %}<a href="{% url 'staff_invoice_detail_pdf' i.invoice.id %}">{{i.invoice}}</a>{% endif %}</td>
                        <td>{{i.price|floatformat:2}}&euro;</td>
                        <td>{% if i.payed %}Pagat{% else %}Pendent de pagar{% endif %}</td>
                        <td>{% if i.shipped %}Enviat{% else %}Pendent d'enviar{% endif %}</td>
                        <td><a href="{% url 'staff_order_modify_list' %}">Modifica</a></td>
                        <td><a href="{% url 'staff_order_delete' i.id %}">Elimina</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascript %}{% endblock %} 
