{% extends 'shop_base.html' %}
{% load i18n %}



{% block shop_content %}
<div class="span12">
    <div id='products' class="visible-desktop">
    {% for product in product_list %}
      <div class="span4 product">
          <img src='{{MEDIA_URL}}{{product.img_1}}' alt="{{product.description}}">
        <div class="imgText">
            <a href="{% url 'shop_product_create' product.slug %}">
                <h2 class="num">{{product.category.price|floatformat:2}} &euro;</h2>
                <p>{{product.description}}</p>
            </a>
        </div>
      </div>
    {% endfor %}
    </div>

    <div id='products-responsive' class="hidden-desktop">
    {% for product in product_list %}
        <div class="row-fluid">
            <div class="span4 product">
                <a href="{% url 'shop_product_create' product.slug %}">
                    <img src='{{MEDIA_URL}}{{product.img_1}}' alt="{{product.description}}">
                    <div id="imgText">
                        <h2 class="num">
                            {% if user.is_professional %}
                                {% if user.hand_delivery %}
                                    {{product.category.price_in_hand|floatformat:2}}
                                {% else %}
                                    {% if CountCartItems > 3 %}
                                        {{product.category.price_special_4|floatformat:2}}
                                    {% elif CountCartItems == 3 %}
                                        {{product.category.price_special_3|floatformat:2}}
                                    {% elif CountCartItems == 2 %}
                                        {{product.category.price_special_2|floatformat:2}}
                                    {% else %}
                                        {{product.category.price_special_1|floatformat:2}}
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {{product.category.price|floatformat:2}}
                            {% endif %}
                        &euro;</h2>
                    </div>
                </a>
            </div>
            <div class="span8">
                <p>{{product.description}}</p>
            </div>
            <hr>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    var linea = $('#products .product');
    while (linea.length >= 3) {
        $(linea.splice(0, 3)).wrapAll('<div class="row-fluid" />');
    }
    $(linea.splice(0, linea.length)).wrapAll('<div class="row-fluid" />');
});
</script>
{% endblock %}
