<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<style>
    @page {
        size: a4;
        margin:1.5cm;
        font-size:10px;
    }
</style>

</head>    
<body>
    <div>
        <table style="border:1px solid #000000;border-collapse:collapse;">
            <thead>
                <tr style="border:1px solid #000000;">
                    <td style="border:1px solid #000000;padding-top:3px;text-align:center;font-size:10px;">Número document</td>
                    <td style="border:1px solid #000000;padding-top:3px;text-align:center;font-size:10px;">Data document</td>
                    <td colspan="3" style="border:1px solid #000000;padding-top:3px;text-align:center;font-size:10px;">Client</td>
                    <td style="border:1px solid #000000;padding-top:3px;text-align:center;font-size:10px;">NIF</td>
                    <td style="border:1px solid #000000;padding-top:3px;text-align:center;font-size:10px;">Base imponible</td>
                    <td style="border:1px solid #000000;padding-top:3px;text-align:center;font-size:10px;">IVA</td>
                    <td style="border:1px solid #000000;padding-top:3px;text-align:center;font-size:10px;">Total factura</td>
                </tr>
            </thead>
            <tbody>
                {% for invoice in invoice_list %}
                <tr style="border:1px solid #000000;">
                    <td style="border:1px solid #000000;padding-top:3px;text-align:center;font-size:10px;">{{ invoice }}</td>
                    <td style="border:1px solid #000000;padding-top:3px;text-align:center;font-size:10px;">{{ invoice.creation_date|date }}</td>
                    <td colspan="3" style="border:1px solid #000000;padding-top:3px;text-align:center;font-size:10px;">{{ invoice.user.invoice_name }}</td>
                    <td style="border:1px solid #000000;padding-top:3px;text-align:center;font-size:10px;">{{ invoice.user.invoice_tax_code }}</td>
                    <td style="border:1px solid #000000;padding-top:3px;text-align:center;font-size:10px;">{{ invoice.price_base|floatformat:2 }}&nbsp;&euro;</td>
                    <td style="border:1px solid #000000;padding-top:3px;text-align:center;font-size:10px;">{{ invoice.price_iva|floatformat:2 }}&nbsp;&euro;</td>
                    <td style="border:1px solid #000000;padding-top:3px;text-align:center;font-size:10px;">{{ invoice.price|floatformat:2 }}&nbsp;&euro;</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <table style="margin-top:1cm;border:1px solid #000000;border-collapse:collapse;">
            <thead>
                <tr style="border:1px solid #000000;">
                    <td style="border:1px solid #000000;padding-top:3px;text-align:center;font-size:10px;">Total base imponible: {{base|floatformat:2}}&nbsp;&euro;</td>
                    <td style="border:1px solid #000000;padding-top:3px;text-align:center;font-size:10px;">Total iva: {{iva|floatformat:2}}&nbsp;&euro;</td>
                    <td style="border:1px solid #000000;padding-top:3px;text-align:center;font-size:10px;">Total: {{total|floatformat:2}}&nbsp;&euro;</td>
                    <td style="border:1px solid #000000;padding-top:3px;text-align:center;font-size:10px;">Número de factures: {{count|floatformat:2}}&nbsp;&euro;</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</body>
</html>
