{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block titol %}{% trans "Comanda realitzada" %}{% endblock %}


{% block content %}
    <div class="container contingut">
        <div class="row">
            <div class="span6 offset3 payment-result info-box">
                <div class="info-box-inner">
                <h2>{% trans "La teva compra s'ha gestionat correctament" %}</h2>
                <p class="lead">{% trans "Si tens qualsevol dubte, et pots posar en contacte amb nosaltres" %} <a href="/contact/">{% trans "aquí" %}</a>.</p>
                <a class="btn" href="/">Torna</a>
            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}  
