{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container contingut">
    <div class="row">
        <div class="span4 offset4 info-box">
            <div class="info-box-inner">
                <form method="post" action=".">
                    {% csrf_token %} 
                    {{ form.as_p }}

                    <input type="submit" class="btn btn-success" value="{% trans 'Log in' %}" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>

                <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
                <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
