{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{{page.title}}
{% endblock %}

{% block content %}
    {% if page %}
        <div class="container contingut">
            {{page.content|safe}}
        </div>
    {% else %}
        <div class="container contingut">
            <div class="row">
                <div class="span4 offset4">
                    <img src="{{STATIC_URL}}img/underConstruction.png"/>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
{% endblock %}
