{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<style>
    @page {
        size: a4;
        margin-top:3cm;
        margin-left:2.5cm;
        margin-right:1.5cm;
        margin-bottom:2cm;
        @frame inoxtags {
            -pdf-frame-content: inoxtagsContent;
            top:2cm;
            left:2.5cm;
            width:6cm;
            }
        @frame customer {
            -pdf-frame-content: customerContent;
            top:3cm;
            right:1.5cm;
            width:8cm;
            }
        @frame invoice {
            -pdf-frame-content: orderContent;
            top:7cm;
            left:2.5cm;
            right:1.5cm;
            }
        }
    @font-face {
        font-family: OleoScript;
        src: url({{MEDIA_URL}}{{order.data.logo_font}})
        }
</style>

</head>    
<body>
    <div id="inoxtagsContent">
        <table>
            <tbody>
                <tr><td style="font-size:42px;font-family:OleoScript;">{{order.data.name}}</td></tr>
                <tr><td style="font-size:14px;">{{order.data.company|upper}}</td></tr>
                <tr><td>Tel. {{order.data.phone}}</td></tr>
                <tr><td>{{order.data.invoice_address}}</td></tr>
                <tr><td>{{order.data.invoice_cp}} {{order.data.invoice_town}}</td></tr>
                <tr><td>{{order.data.invoice_country}}</td></tr>
            </tbody>
        </table>
    </div>
    <div id="customerContent">
        <table style="border:1px solid #000000;">
            <tbody>
                <tr><td style="padding-left:5px;padding:5px;">
                    <span style="font-size:16px;">{{order.to|upper}}</span><br>
                    {{order.address}}<br>
                    {{order.postal_code}} {{order.town}}<br>
                    {{order.country}}
                </td></tr>
            </tbody>
        </table>
    </div>
    <div id="orderContent">
        <table style="border:1px solid #000000;border-collapse:collapse;">
            <thead>
                <tr style="border:1px solid #000000;">
                    <td style="border:1px solid #000000;padding-top:3px;text-align:center;font-size:10px;">{% trans "Tipo documento" %}</td>
                    <td style="border:1px solid #000000;padding-top:3px;text-align:center;font-size:10px;">{% trans "Fecha documento" %}</td>
                    <td style="border:1px solid #000000;padding-top:3px;text-align:center;font-size:10px;">{% trans "Referencia" %}</td>
                    <td style="border:1px solid #000000;padding-top:3px;text-align:center;font-size:10px;">{% trans "Forma de pago" %}</td>
                </tr>
            </thead>
            <tbody>
                <tr style="border:1px solid #000000;">
                    <td style="border:1px solid #000000;padding-top:3px;text-align:center;font-size:12px;">{% trans "Albarán" %}</td>
                    <td style="border:1px solid #000000;padding-top:3px;text-align:center;font-size:12px;">{{order.creation_date|date}}</td>
                    <td style="border:1px solid #000000;padding-top:3px;text-align:center;font-size:12px;">{% trans "Pedido" %} {{order}}</td>
                    <td style="border:1px solid #000000;padding-top:3px;text-align:center;font-size:12px;">
                        {% if not order.payed %}
                            {% if user.hand_delivery %}
                                {% trans "Comptat" %}
                            {% elif user.money_order %}
                                {% trans "Gir bancari" %}
                            {% else %}
                                {% trans "Transferència" %}
                            {% endif %}
                        {% else %}
                            {% trans "Pagado" %}
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        <table style="border:1px solid #000000;border-collapse:collapse;margin-top:1cm;">
            <tbody>
                <tr style="border:1px solid #000000;">
                    <td style="border:1px solid #000000;padding-top:3px;text-align:center;font-size:12px;">Contenido</td>
                </tr>
                <tr style="border:1px solid #000000;">
                    <td style="border:1px solid #000000;padding-top:13px;{% if order.count >= 3 %}padding-bottom:60px;{% elif order.count >= 5 %}padding-bottom:30px;{% else %}padding-bottom:100px;{% endif %}font-size:14px;padding-left:10px;">
                        <br>{% for tag in order.orderitem_set.all %}
                        {{tag.quantity}} x {{tag.product}}: {{tag.front_main|upper}}<br>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
        <table style="margin-top:1cm;">
            <tbody>
                <tr>
                    <td style="border:1px solid #000000;padding-top:7px;padding-left:10px;padding-botton:7px;"><strong>TOTAL:<br><br><span style="font-size:14px;">{{order.price|floatformat:2}}&euro;</span></strong></td>
                    <td colspan="3" style="padding-top:3px;padding-left:5px;font-size:12px;"></td>
                </tr>
            </tbody>
        </table>
        <table style="border:1px solid #000000;border-collapse:collapse;margin-top:3cm;">
            <tbody>
                <tr>
                    <td style="border:1px solid #000000;padding-top:8px;padding-bottom:40px;padding-left:5px;font-size:12px;">Observaciones:</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
