{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block titol %}Resultat de la transacció{% endblock %}


{% block content %}
    <div class="container contingut">
        <div class="row">
            <div class="span6 offset3 payment-result payment-result-success">
                <h2>{% trans "La teva compra s'ha gestionat correctament" %}</h2>
                <p class="lead">{% trans "En breu rebràs a la bústia del teu correu electrònic un missatge amb les dades perque puguis fer el pagament de la teva compra." %}</p>
                <p class="lead">{% trans "Si tens qualsevol dubte, et pots posar en contacte amb nosaltres" %} <a href="/contacta">{% trans "aquí" %}</a>.</p>
                <p class="lead">{% trans "Has de saber que fins que no rebem la transferència, no començarem a produir la teva comanda, així que si t'en desdius no cal que facis res, simplement no fent efectiu el pagament, la comanda no es tramitarà. Un cop rebem l'ingrés, entre el temps que necessitem per fer-la i l'enviament, t'arribarà en un plaç d'uns 7 dies per enviaments a la península ibèrica, o 10 per a la resta d'Europa. Recorda que pots consultar l'estat de les teves comandes registrant-te a la nostra web. També hi podràs visualitzar les teves factures si et cal." %}</p>
                <a class="btn" href="/">Torna</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}  
