{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block titol %}Resultat de la transacció{% endblock %}

{% block contingut %}
    <div class="container contingut">
        <div class="row">
            <div class="span6 offset3 payment-result payment-result-success">
                <h2>{% trans "La teva comanda s'ha gestionat correctament" %}</h2>
                <p class="lead">{% trans "En breu rebràs a la bústia del teu correu electrònic un missatge amb totes les dades de la teva comanda." %}</p>
                <p class="lead">{% trans "A partir d'ara podràs consultar l'estat de la teva comanda registrant-te a la nostra web." %}</p>
                <a class="btn" href="/">Torna</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}  
