{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block titol %}{% trans "On trobar-nos" %}{% endblock %}


{% block content %}
<div class="container contingut">
    <div class="row">
        <div class="span3 bs-docs-sidebar lateral">
            <ul class="nav nav-list bs-docs-sidenav">
                {% regroup nav_list by country as country_list %}
                {% for country in country_list %}
                <li><p>{{country.grouper|upper}}</p></li>
                    {% for zone in country.list %}
                    <li><a href="{% url 'partner_list' zone.slug %}"><i class="icon-chevron-right pull-right"></i>{{zone.zone}}</a></li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        <div class="span9">
            <div class="row-fluid">
                {% block partners %}
                <div class="span12">
                    <img src="{{STATIC_URL}}img/slide-03.jpg">
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
