{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}


{% block content %}
    {% if not user.name or not user.shipping_address or not user.shipping_code or not user.shipping_town or not user.shipping_country %}
    <div class="container contingut">
        <div class="row-fluid">
            <div id="payment-info" class="span6 offset3 info-box">
                <div class="info-box-inner">
                    <h3 class="center">{% trans "Ens falten dades." %}</h3>
                    <p class="lead">{% trans "Per poder continuar tramitant la teva comanda, primer cal que ens facilitis totes les teves dades d'enviament." %}</p>
                    <ul>
                        {% if not user.name %}
                        <li>{% trans "El vostre nom." %}</li>
                        {% endif %}
                        {% if not user.shipping_address %}
                        <li>{% trans "La vostra adreça." %}</li>
                        {% endif %}
                        {% if not user.shipping_code %}
                        <li>{% trans "El vostre codi postal." %}</li>
                        {% endif %}
                        {% if not user.shipping_town %}
                        <li>{% trans "La vostra població." %}</li>
                        {% endif %}
                        {% if not user.shipping_country %}
                        <li>{% trans "El vostre país." %}</li>
                        {% endif %}
                    </ul>
                    <a href="{% url 'shipping_data_update' %}">{% trans "Completa les teves dades d'enviament." %}</a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container contingut">
        <div class="row-fluid">
            <div id="payment-info" class="span6 info-box">
                <div class="info-box-inner">
                    <h3>{% trans "Resum de la compra" %}:</h3>
                    <p class="lead">{% trans "Nº de productes" %}:&nbsp;<strong>{{CountCartItems}}</strong></p>
                    <p class="lead">{% trans "Import total" %}:&nbsp;<strong>{{CartPrice|floatformat:2}}&euro;</strong></p>
                    <hr>
                    <h3>{% trans "Dades d'enviament" %}:</h3>
                    <p>
                        {{user.name}}<br>
                        {{user.shipping_address}}<br>
                        {{user.shipping_code}}&nbsp;{{user.shipping_town}}<br>
                        {{user.shipping_country}}<br>
                    </p>
                    <a href="{% url 'shipping_data_update' %}">{% trans "Canvia les teves dades d'enviament." %}</a>
                    <hr>
                    <div class="form">
                        <h3 class="center">{% trans "Si totes les dades són correctes, selecciona la forma de pagament" %}:</h3>
                        <div id="payButton">
                            <form action="{% url 'stripe_charge' %}" method="post">


                                <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button" data-key="{{stripe_key}}" data-amount="{{price_cents}}" data-name="INOXtags" data-description="{{CountCartItems}} items ({{CartPrice|floatformat:2}}&euro;)" data-currency="eur" data-image="/128x128.png"></script>

                                              
                            </form>
                            {% if user.country.country == "Spain" %}
                                <button class="btn bankTrans btn-large" type="button">Transferència</button>
                            {% endif %}
                        </div>
                        {% if user.country.country == "Espanya" %}
                            <div class="bankTrans">
                                <p class="lead">{% trans "Si prefereixes pagar-nos amb transferència bancaria, recorda que al concepte has d'indicar la referència que t'indiquem i que començarem a preparar-te l'enviament un cop rebem l'ingés al nostre compte. Per seguir prem el botó 'Pagar amb transferència' i et mostrarem les dades per fer l'ingés i t'enviarem al mateix moment un mail perquè puguis consultar-ho en qualsevol moment." %}</p>
                                <div id="bankTrans">
                                    <a href="{% url 'bank_transfer' %}" class="btn btn-success btn-large">{% trans "Pagar amb transferència" %}</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="span6">
                <table id="list" class="table table-bordered">
                    <thead>
                        <tr>
                            <td class="center" colspan="2"><h4>{% trans "Productes al carro" %}:</h4></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in CartProducts %}
                            <tr>
                                <td class="span4">
                                    <div class="payment-cart-detail-img">
                                        <img src="{{MEDIA_URL}}{{i.product.img_1}}" class="img-rounded" alt=""/>
                                        <h3 class="num">{{i.quantity}}&nbsp;x</h3>
                                    </div>
                                </td>
                                <td class="span8">
                                    {% if i.front_main %}<p>{% trans "Nom de l'animal" %}:&nbsp;<strong>{{i.front_main|upper}}</strong>{% if i.color %},&nbsp;{% trans "en color" %}&nbsp;{{i.color}}</p>{% endif %}</p>{% endif %}
                                    {% if i.front_tel %}<p>{% trans "Telèfon" %}:&nbsp;{{i.front_tel|upper}}</p>{% endif %}
                                    {% if i.back_1 %}<p>{% trans "Nom propietari" %}:&nbsp;{{i.back_1|upper}}</p>{% endif %}
                                    {% if i.back_2 %}<p>{% trans "Telèfon" %}:&nbsp;{{i.back_2|upper}}</p>{% endif %}
                                    {% if i.back_3 %}<p>{% trans "Altres" %}:&nbsp;{{i.back_3|upper}}</p>{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    var linea = $('.producte');
    while (linea.length >= 6) {
        $(linea.splice(0, 6)).wrapAll('<div id="cart_items" class="row" />');
    }
    $(linea.splice(0, linea.length)).wrapAll('<div id="cart_items" class="row" />');
    $("div.bankTrans").hide();
    $("button.bankTrans").click(function(){
        $("div.bankTrans").toggle(600);
    });
});
</script>
{% endblock %}
